/feil.pat*
/hyph_no_NO.dic
/hyphen/
/hyphlist1.txt.gz
/hyphlist2.txt.gz
/hyphlist3.txt.gz
/hyphlist4.txt.gz
/no.tra
/no.tra1
/norsk.nonstandard.pat
/pat0.txt
/pat11.txt
/pat12.txt
/pat13.txt
/pat14.txt
/pat15.txt
/pat16.txt
/pat17.txt
/pat18.txt
/pat19.txt
/pat41.txt
/pat42.txt
/pat43.txt
/pat44.txt
/pat45.txt
/pat46.txt
/pat47.txt
/pat48.txt
/pat49.txt
/pattmp
